<div class="container-fluid">
  <div class="row-fluid">
    <div class="span3">
      <div class="well sidebar-nav">
        <ul class="nav nav-list">
          <li class="nav-header">Sidebar</li>
          <li class="active"><a href="#">Link</a></li>
          <li><a href="#">Link</a></li>
          <li><a href="#">Link</a></li>
          <li><a href="#">Link</a></li>
        </ul>
      </div><!--/.well -->
    </div><!--/span-->
    <div class="span9">
    <% @steps.each do |step| %>
      <div class="progress progress-striped active" >
         <div class="bar" style="width: <%=step.progress.to_i%>%" ><%= step.si%>(<%=step.progress.to_i%>%)</div>
      </div>

    <% end %>
    </div><!--/span-->
  </div><!--/row-->

<% p @steps.inspect %>
